img{
	width: 350px; height: 300px; margin: 10px;
	
	float: left;
}

td{
	width: 350px; 
	height: auto;
	margin: 10px;
	font-size: 25px;
	text-align: center;

}

a{
	font-size: 25px;
	background-color: #3CC47C;
}

a:hover{
	font-size: 35px;
	background-color: #3CC90C;
}